<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
  
    <typeAlias alias="House" type="com.oracle.ysyj.model.House"/>
   
    </typeAliases>
    
        
    <mappers>
   <mapper resource="com/oracle/ysyj/dao/HouseMapper.xml" />
  
    </mappers>
       
</configuration>